@import "tailwindcss";

/* Convert root variables to usable tailwind variables*/
@theme inline{
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-header: var(--header);   /* header bar — same in light/dark */
  --color-link-text: var(--link-color);
  --rounded: var(--rounded);
}

/* 
  custom wiggle animation for pokebal loading icon
  supposed to look like when attempting to catch a pokemon in game
*/
@theme {
  --animate-wiggle: wiggle 1s ease-out infinite;
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(15deg);
    }
    80%{
      transform: rotate(15deg);
    }
  }
}

:root {
  --text: #6b6375;
  --text-h: #ffffff;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #f6339a;
  --header: #22004e;
  --link-color: #f9f962;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  letter-spacing: 0.18px;
  --header-height: 80px;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rounded: 0.5rem; /* Border Radius measurement */
  --rounded-small: 0.2rem;

  @media screen and (min-width:1024px){
    --header-height: 120px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #ffffff;
    --bg: #5a4d79;
    --border: #2e303a;
    --accent: #f6339a;
    --header: #22004e;
  }
}

#root {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Apply this css to hoverable links whenever they are hovered. Overrides background colours and text-colours already applied to elements */
.hoverable-link:hover {
  background-color: var(--accent) !important;
  color: var(--link-color) !important;
  transition: background-color 0.1s, color 0.1s !important;
  cursor: pointer !important;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1023px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
p {
  margin: 0;
}

input, select, textarea {
  font: inherit;
  color: var(--text-h);
  background: var(--color-header);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px 12px;

}
