@import "tailwindcss";

@theme inline{
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-header: #22004e;   /* header bar — same in light/dark */
  --color-link-text: var(--link-color);
}
/* 
  custom wiggle animation for pokebal loading icon
  supposed to look like when attempting to catch a pokemon in game
*/
@theme {
  --animate-wiggle: wiggle 1s ease-out infinite;
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(15deg);
    }
    80%{
      transform: rotate(15deg);
    }
  }
}

:root {
  --text: #6b6375;
  --text-h: #ffffff;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #f6339a;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #ffffff;
    --bg: #5a4d79;
    --border: #2e303a;
    --accent: #f6339a;
    --link-color: #f9f962;
  }
}

#root {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
p {
  margin: 0;
}

input, select, textarea {
  font: inherit;
  color: var(--text-h);
  background: var(--color-header);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px 12px;

}
