#home-menu{
  --gap: clamp(0.75rem, 2vw, 1.5rem);
  flex: 1;
  display: grid;
  box-sizing: border-box;

  align-items: start;
  margin:min(2.5vw,1.5svh);
  
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "hero"
  "showcase"
  "actions" ;
  gap:var(--gap);
}

#home-actions{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height:100%;
}

/* For tablet */
@media (min-width: 768px){
  #home-menu{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
      "hero       hero          hero"
      "showcase   showcase      actions"
      "showcase   showcase      actions"
      "showcase   showcase      actions"
    ;
  }

  #home-actions{
    justify-content: space-evenly;
    padding:var(--gap);
  }
  #home-actions *{
    flex-grow: 1;
  }
}

/* For desktop */
@media (min-width: 1024){
  #home-menu{
    max-width:1024px;
  }
}

/* Item grid placements */
#hero      { grid-area: hero; }
#showcase  { grid-area: showcase; }
#home-actions { grid-area: actions; }

#hero{
  justify-content: center;
}

#showcase{
  display: grid;
  grid-template-rows: auto 1fr;
  gap: calc(var(--gap) * 0.25);
  min-height: 0;
}

.home-tile{
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  transition: filter 0.15s ease, transform 0.15s ease;
  color: black;
  justify-content: center;
  align-items: center;
  padding:0.5rem;
}

.home-tile:hover{
  filter: brightness(1.15);
  transform: scale(1.02);
}
