#home-menu{
  flex: 1;
  display: grid;
  box-sizing: border-box;
  place-content: center;
  padding:0;
  /*
  margin-top: 6.25svh;
  margin-bottom: 6.25svh;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  */
  margin-left:6.25vw;
  margin-right:6.25vw;
  gap:min(6.25svh, 12.5vw);
  /* For Mobile */
  /*
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-areas: 
    "hero       hero"
    "showcase   browse"
    "showcase   create"
    "showcase   search"
    "profile    discover"
  ;
  */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(7,1fr);
  grid-template-areas:
  "hero hero"
  "hero hero"
  "showcase browse"
  "showcase create"
  "showcase search"
  "showcase discover"
  "showcase profile";
}




/* For tablet */
@media (min-width: 768px){
  #home-menu{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: 
      "hero       hero        hero"
      "showcase   showcase    browse"
      "showcase   showcase    create"
      "search     discover    profile"
    ;
  }
}

/* For desktop */
@media (min-width: 1024){
  #home-menu{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "hero       hero        hero        hero        hero      hero"
      "showcase   showcase    showcase    showcase    browse    create"
      "search     search      discover    discover    profile   profile"
    ;
  }
}

/* Item grid placements */
#hero      { grid-area: hero; }
#showcase  { grid-area: showcase; }
#browse    { grid-area: browse; }
#create    { grid-area: create; }
#search    { grid-area: search; }
#discover  { grid-area: discover; }
#profile   { grid-area: profile; }

#showcase{
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  min-height: 0;
}

#showcase-items{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 0.5rem;
  min-height: 0;
}

.home-tile{
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  transition: filter 0.15s ease, transform 0.15s ease;
  color: black;
  justify-content: center;
  align-items: center;
  padding:0.5rem;
}

.home-tile:hover{
  filter: brightness(1.15);
  transform: scale(1.02);
}
