@import "tailwindcss";

#set-creation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1svh;
}

#species-form-select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:1vw;
  padding:1svh;
  border-radius: 0.5rem;
  width:100%;
}

#sprite-and-stats{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#species-search-container{
  height: calc(var(--page-height) - var(--header-height));
}

#search-bar{

}

select{
  padding:0.5svh;
  border-radius: 0.5rem;
  font-size: large;
  height:4svh;
}

#item-sprite{
  height:4rem;
  aspect-ratio: 1 / 1;
}


#pokemon-sprite{
  width:200px;
  height:200px;
}

input[type=range]{
  width: 250px;
  background: transparent;
}

.stat-slider-row{
  color: white;
  grid-template-columns: 1.5fr 0.5fr 3fr 0.5fr 0.25fr;
  background-color: var(--header);
  border-radius: var(--rounded);
  padding:10px;
  align-items: center;
}

@media  screen and (max-width:767px) {
  #species-form-select{
    flex-direction: column;
  }
  #sprite-and-stats{
    flex-direction: column;
  }
  .stat-slider-row{
    grid-template-columns: 1fr 0.5fr 1fr 0.25fr 0.5fr;
  }
  input[type=range]{
    width: 150px;
  }
}

.species-row{
  height:100px;
}

.species-header{
  background-color: var(--header);
  place-items:center;
  height:50px;
  border-radius: var(--rounded);
  gap:0;
  justify-content: space-evenly;
  width: 100%;
}

.species-headers{
  color: var(--link-color);
  border: solid 1px var(--bg);
  width:100%;
  height:100%;
}

.species-header .species-headers:first-child{
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
}

.species-header .species-headers:last-child{
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
}

#move-button-list{
  width:20vw;
  gap:5vh;
}

.move-button{
  /*transform: skew(0deg, -5deg);*/
}