.grass{
  background-color: #3fa12a;
}

.fire{
  background-color: #e62828;
}

.water{
  background-color: #2981ef;
}

.electric{
  background-color: #fabf00;
}

.flying{
  background-color: #81b8ee;
}

.normal{
  background-color: #9fa19e;
}

.ground{
  background-color: #915121;
}

.rock{
  background-color: #aea981;
}

.psychic{
  background-color: #ee4179;
}

.bug{
  background-color: #91a11a;
}

.poison{
  background-color: #9241cc;
}

.fighting{
  background-color: #ff7f00;
}

.ice{
  background-color: #3fd9ff;
}

.ghost{
  background-color: #704070;
}

.dark{
  background-color: #50413e;
}

.steel{
  background-color: #60a1b7;
}

.dragon{
  background-color: #5160e1;
}

.fairy{
  background-color: #ee70ee;
}