header{
  max-width: 100%;
  background-color: #22004e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1svh;
  padding-left: 1svw;
  padding-right: 1svw;
}

#logo{
  image-rendering: pixelated;
  height: 96px;
}
