#logo{
  max-width:20vw;
  max-height: 5vw;
  min-width: 160px;
  min-height: 40px;
}

a{
  font-size: 2vw;
  max-height: 5vw;
}

#profile-icon{
  width:5vw;
  height:5vw;
  min-width:40px;
  min-height: 40px;
}